<div class="events">
  <table>
    <th><button>Meeting Place</button></th>
    <th><button>Destination</button></th>
    <th><button>Departure Time</button></th>
    <tr>
      <td><%= meeting %></td><td><%= time %></td><td><%= destination %></td><
    </tr> 
  </table>
</div>