<div class="events">
  <table>
    <th><button>Meeting Place</button></th>
    <th><button>Destination</button></th>
    <th><button>Departure Time</button></th>
    <tr>
      <%= console.log('Hello') %>
      



      
    </tr> 
  </table>
</div>