<!DOCTYPE html>
<html>
  <script>



  </script>
  <head>
    <title>March Pool</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome To March Pool</h1>
    <p><%= title %></p>
    <div class='make-trip'>  
    </div>
    
    
    <div>
      <table>
      <form action="/" method="post" >
        <tr class="form-group">
        <th><input type="text" name="input-meeting" value="Meeting Place" ></input></th>
        <th><input type="text" name="input-destination" value="Where to?" ></input></th>
        <th><input type="text" name="input-time" value="When?" ></input></th>
        <th><input type="text" name="input-phone" value="Phone Number?"></input></th>
        <th><button class="btn btn-default">Plan It!</button></th>
      </tr>
      </form>
        <th><button class="btn btn-default">Meeting Place</button></th>
        <th><button class="btn btn-default">Departure Time</button></th>
        <th><button class="btn btn-default">Destination</button></th>
          <% 
            if (data1 !== undefined){
              for (var key in data1){ %>
        <tr>
                <td><%= data1[key].meeting %></td><td><%= data1[key].time %></td><td><%= data1[key].destination %></td>
        </tr> 
                <%
              }
            }
          %>
      </table>

    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
